<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd    
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<bean id="s1" class="com.nucleus.Student" scope="prototype">
</bean>



<bean id="adr1" class="com.nucleus.Address" init-method="">
<property name="city" value="New Delhi"/>
<property name="country" value="India"/>
<property name="landmarks">
<list>
<value>New ICIC ATM</value>
<value>New ABC Park</value>
</list>
</property>
</bean>

<bean id="bfact1" class="com.nucleus.BFPP"/>
<bean id="bfact2" class="com.nucleus.BFPP2"/>
<!-- <bean id="s2" class="com.nucleus.Student">
<property name="studentId" value="102"/>
<property name="stdName" value="bbbb"/>
<property name="address" ref="adr1"/>
</bean> -->
    </beans>